$heading-devider-bg: $gray;
$heading-devider-aksen: $brand-info;

.heading-page {
  position: relative;
  margin-bottom: 30px;

  .heading-title {
    font-size: 24px;
    margin: 10px 0 0;
  }

  .heading-tools {
    margin-top: 15px;
  }

  .heading-devider {
    background-color: $heading-devider-bg;
    height: 2px;
    margin: 15px 0 20px;

    &::after {
      content: '';
      display: block;
      height: 2px;
      background-color: $heading-devider-aksen;
      width: 190px;
    }
  }
}